packages: [
  "atom-beautify"
  "atom-random-tips"
  "atom-sync"
  "atom-ternjs"
  "AtomicChar"
  "autocomplete-modules"
  "autocomplete-python"
  "browser-plus"
  "build"
  "color-picker"
  "emmet"
  "file-icons"
  "jshint"
  "language-babel"
  "linter"
  "linter-scss-lint"
  "livereload"
  "markdown-writer"
  "minimap"
  "minimap-autohide"
  "node-debugger"
  "package-list"
  "package-sync"
  "pigments"
  "project-manager"
  "python-tools"
  "react"
  "Remote-FTP"
  "remote-sync"
  "script"
  "show-in-system"
  "tasks"
  "terminal-plus"
  "todo-show"
  "toggle-slash"
]
